<html lang="en">
	<link href="../css/styles.css" rel="stylesheet" type="text/css">
<head>
</head>
<body>
	<div class="title">honestly.</div>
	<form action="/wordle" method="GET">
	  <input type="text" name = "searchedQuery" id="searchedQuery" placeholder="search">
	  <br><br>
	  <input type="submit" value="Search">
	</form>
</body>