<html lang="en">
<link href="../css/styles.css" rel="stylesheet" type="text/css">

<head>
</head>
<script src="https://kit.fontawesome.com/09bfef98a3.js" crossorigin="anonymous"></script>
<body>

	<div class="title">honestly.
	<form action="/wordle" method="GET">
		<input class="search-input" type="text" name="searchedQuery" id="searchedQuery" placeholder="search">
		<!-- <input class="search-btn" type="submit" value="Search"> -->
		
	</form>
</div>
	</div>
</body>