<html lang="en">
<head>
</head>
<body>
	<h1>Search for something</h1>
	<form action="/wordle" method="post">
	  <input type="text" id="searchedQuery" placeholder="search">
	  <br><br>
	  <input type="submit" value="Search">
	</form> 
</body>