<html>
	<link href="../css/styles.css" rel="stylesheet" type="text/css">
	<head>
	</head>

	<script type="text/javascript">
		//document.getElementById("wordle").src = "<%=base64%>";
		console.log("<%=base64%>");
	</script>

	<body>

		<form action="/wordle" method="GET">
			<input class="search-input" type="text" name="searchedQuery" id="searchedQuery" placeholder="search">
		</form>
		<h1>
		<img id="wordle" src="<%=base64%>"/>
		<h1>Search for something</h1>
		<form action="/wordle" method="GET">
		  <input type="text" name = "searchedQuery" id="searchedQuery" placeholder="search">
		  <br><br>
		  <input type="submit" value="Add a Contribution">
		</form>
	</body>
</html>