<html>
	<link href="../css/styles.css" rel="stylesheet" type="text/css">
	<head>
	</head>

	<script type="text/javascript">
		//document.getElementById("wordle").src = "<%=base64%>";
		console.log("<%=base64%>");
	</script>

	<body>
		<h1>Hello Welcome to Wordle, see what the Internet is thinking!</h1>
		<img id="wordle" src="<%=base64%>"/>
	</body>
</html>