@font-face {
    font-family: GoudyBookletter;
    src: url("/public/fonts/GoudyBookletter1911-Regular.ttf");
}


:root {
  --black: #000000;  
}

:root {
  --darkGray: #212121;  
}

:root {
  --gray: #303030;  
}

:root {
  --lightGray: #424242;
}

:root {
  --white: #FFFFFF;
}

:root {
  --gold: #C28E0E;
}

.title {
	font-size: 500%;
	color: var(--lightGray);
}

html,body{
    background-color: var(--darkGray);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'GoudyBookletter';
}

h1{
    color: var(--lightGray);
}